<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
 
<h1><center>FACULTY DETAILS OF DEPARTMENT</center></h1>
<br><br>
<table>
  <tr>
    <th>SINO</th>
    <th>Name of the faculty member</th>
    <th>Designation</th>
    <th>Highest Qualification</th>
    
  </tr>
  <tr>
    <td>1</td>
    <td><img src="{{url_for('static', filename='h.jpeg')}}" align="middle" height="200" width="180" />
    <br>
    <p style="color:blue;">Dr.T.R.Srinivas</p>
    
     <a href="/hodp">Profile</a>	</td>
    <td>HOD</td>
    <td>M.Tech</td
    <td>ph.D</td> 
  </tr>
  
  <tr>
    <td>2</td>
    <td><img src="{{url_for('static', filename='s.jpeg')}}" align="middle" height="200" width="180" />
    <br><p style="color:blue;">Swathi</p>
    <a href="/swathip">Profile</a>
    </td>
    <td>Assistant Professor</td>
    <td>M.Tech</td>
    
  </tr>
  
  <tr>
    <td>3</td>
    <td><img src="{{url_for('static', filename='sw.jpeg')}}" align="middle" height="200" width="180" />
    <br><p style="color:blue;">Swapna</p>
    <a href="/swapnap">Profile</a>
    </td>
    <td>Assistant Professor</td>
    <td>M.Tech</td>
  
  </tr>
  
  <tr>
    <td>4</td>
    <td><img src="{{url_for('static', filename='n.jpeg')}}" align="middle"  height="200" width="180" />
    <br><p style="color:blue;">NagaLaxmi</p>
    <a href="/nagap">Profile</a>
    </td>
    <td>Assistant Professor</td>
    <td>M.Tech</td> 
  </tr>
  
  <tr>
    <td>5</td>
    <td><img src="{{url_for('static', filename='na.jpeg')}}" align="middle"  height="200" width="180" />
    <br><p style="color:blue;">Naveena</p>
    <a href="">Profile</a>
    </td>
    <td>Assistant Professor</td>
    <td>M.Tech</td> 
  </tr>

</table>

</body>
</html>

