<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
  float: right;
  background-color: #04AA6D;
  color: white;
}
 

i {
  font-size: 15px;
}

h2 {
  font-size: 20px;
}
</style>
</head>
<body>
  <div class="topnav">
  
    <form action="#" method="POST">     
    <a class="active" href="/">HOME</a>
    <a href="/login">LOGIN</a>
    <a href="/register">REGISTER</a>
    <a href="/contact">CONTACT</a>
    <a href="/help" class="split">HELP</a>
  </div>
<u></u><h2>Students Data</h2></u>


<table>
  <tr>
    <th>Student_Name</th>
    <th>Roll_No</th>
    <th>Cell_No</th>
    <th>Address</th>
  </tr>
  <tr>
    <td><img src="{{url_for('static', filename='arun.jpg')}}" allign="middle"  height="100" width="150" alt="Arun" >
      <br>
      <p style="color:blue;">A.Arun kumar Swamy</p>
    <td>198P1A0502</td>
    <td>8096514530</td>
    <td>Mailardevapally</td>
  </tr>
  <tr>
    <td><img src="{{url_for('static', filename='abhigna.jpg')}}" allign="middle"  height="100" width="150" alt="Abhigna" >
      <br>
      <p style="color:blue;">Murgina Abhigna</p>
    <td>198P1A0515</td>
    <td>89458475595</td>
    <td>Desha Drohi</td>

  </tr>
  <tr>
    <td><img src="{{url_for('static', filename='reddy.jpg')}}" allign="middle"  height="100" width="150" alt="Reddy"/>
      <br>
      <p style="color:blue;">Kothapally Reddy Prasad</p>
    <td>198P1A0513</td>
    <td>5346743276</td>
    <td>Austria</td>

  </tr>
  <tr>
    <td><img src="{{url_for('static', filename='sai.jpg')}}" allign="middle"  height="100" width="150" alt="sai">
      <br>
      <p style="color:blue;">Sare Wok a</p>
    <td>198P1A0524</td>
    <td>8*5*863+36</td>
    <td>UK</td>
  </tr>
  <tr>
    <td><img src="{{url_for('static', filename='raki.jpg')}}" align="middle"  height="150" width="200" alt="Raki"/>
      <br>
      <p style="color:blue;">S.Rakesh</p>
    <td>198P1A0523</td>
    <td>9182008552</td>
    <td>Canada</td>
  </tr>

  <tr>
    <td><img src="{{url_for('static', filename='naveen.jpg')}}" allign="middle"  height="100" width="150" alt="naveen">
      <br>
      <p style="color:blue;" font-style="oblique">P.Naveen</p>
    <td>198P1A0521</td>
    <td>8096514530</td>
    <td>Korea</td>
  </tr>

  <tr>
    <td><img src="{{url_for('static', filename='priyanka.jpg')}}" allign="middle"  height="100" width="150" alt="Priyanka">
      <br>
      <p style="color:blue;">Priyanka</p>
    <td>198P1A0519</td>
    <td>8096514530</td>
    <td>L B Nagar</td>
  </tr>

  <tr>
    <td><img src="{{url_for('static', filename='devika.jpg')}}" allign="middle"  height="100" width="150" alt="Devika">
      <br>
      <p style="color:blue;">Devika</p>
    <td>198P1A0511</td>
    <td>8096514530</td>
    <td>pakija</td>
  </tr>

  <tr>
    <td><img src="{{url_for('static', filename='sravan.jpg')}}" allign="middle"  height="100" width="150" alt="Sravan">
      <br>
      <p style="color:blue;">Sravan Kumar Reddy</p>
    <td>198P1A0522</td>
    <td>8096514530</td>
    <td>Korea</td>
  </tr>

  <tr>
    <td><img src="{{url_for('static', filename='teju.jpg')}}" allign="middle"  height="100" width="150" alt="Tejaswini">
      <br>
      <p style="color:blue;">Tejaswini</p>
    <td>198P1A0525</td>
    <td>8096514530</td>
    <td>Korea</td>
  </tr>

  <tr>
    <td><img src="{{url_for('static', filename='srikanth.jpg')}}" allign="middle"  height="100" width="150" alt="Srikanth">
      <br>
      <p style="color:blue;">N Srikanth</p>
    <td>198P1A0518</td>
    <td>8096514530</td>
    <td>Korea</td>
  </tr>

  <tr>
    <td><img src="{{url_for('static', filename='vsrikanth.jpg')}}" allign="middle"  height="100" width="150" alt="Srikanth">
      <br>
      <p style="color:blue;">Vakiti Srikanth</p>
    <td>198P1A0526</td>
    <td>8096514530</td>
    <td>Korea</td>
  </tr>

  

  <tr>
    <td><img src="{{url_for('static', filename='bokka.jpg')}}" allign="middle"  height="100" width="150" alt="Bokka">
      <br>
      <p style="color:blue;">Bukka Rakul</p>
    <td>198P1A0507</td>
    <td>8096514530</td>
    <td>Korea</td>
  </tr>

  <tr>
    <td><img src="{{url_for('static', filename='erragadda.jpg')}}" allign="middle"  height="100" width="150" alt="Erragadda">
      <br>
      <p style="color:blue;">V.Rahul</p>
    <td>198P1A0527</td>
    <td>8096514530</td>
    <td>Korea</td>
  </tr>

  <tr>
    <td><img src="{{url_for('static', filename='srija.jpg')}}" allign="middle"  height="100" width="150" alt="Srija">
      <br>
      <p style="color:blue;">Srija Reddy</p>
    <td>198P1A0512</td>
    <td>8096514530</td>
    <td>Korea</td>
  </tr>

  <tr>
    <td><img src="{{url_for('static', filename='akhila.jpg')}}" allign="middle"  height="100" width="150" alt="Akhila">
      <br>
      <p style="color:blue;">Akhila</p>
    <td>198P1A0528</td>
    <td>8096514530</td>
    <td>Korea</td>
  </tr>

  <tr>
    <td><img src="{{url_for('static', filename='ajit.jpg')}}" allign="middle"  height="100" width="150" alt="Gurram">
      <br>
      <p style="color:blue;">Gurram Ajit</p>
    <td>198P1A0510</td>
    <td>8096514530</td>
    <td>Korea</td>
  </tr>

  <tr>
    <td><img src="{{url_for('static', filename='shiva.jpg')}}" allign="middle"  height="100" width="150" alt="Shiva">
      <br>
      <p style="color:blue;">Shiva</p>
    <td>198P1A0509</td>
    <td>8096514530</td>
    <td>Korea</td>
  </tr>

  <tr>
    <td><img src="{{url_for('static', filename='udeep.jpg')}}" allign="middle"  height="100" width="150" alt="Udeep">
      <br>
      <p style="color:blue;">Udeep</p>
    <td>198P1A0503</td>
    <td>8096514530</td>
    <td>Korea</td>
  </tr>

  <tr>
    <td><img src="{{url_for('static', filename='manoj.jpg')}}" allign="middle"  height="100" width="150" alt="Manoj">
      <br>
      <p style="color:blue;">Manoj kumar</p>
    <td>198P1A0506</td>
    <td>8096514530</td>
    <td>Korea</td>
  </tr>

  <tr>
    <td><img src="{{url_for('static', filename='maheen.jpg')}}" allign="middle"  height="100" width="150" alt="Fatima">
      <br>
      <p style="color:blue;">Maheen Fatima</p>
    <td>198P1A0514</td>
    <td>8096514530</td>
    <td>Korea</td>
  </tr>

  <tr>
    <td><img src="{{url_for('static', filename='syedrehman.jpg')}}" allign="middle"  height="100" width="150" alt="Syed Rehman">
      <br>
      <p style="color:blue;">Syed Abdul Rehman</p>
    <td>198P1A0516</td>
    <td>8096514530</td>
    <td>Korea</td>
  </tr>

  <tr>
    <td><img src="{{url_for('static', filename='abdulrehman.jpg')}}" allign="middle"  height="100" width="150" alt="Mohammad Rehman">
      <br>
      <p style="color:blue;">Mohammad Abdul Rehman</p>
    <td>198P1A0517</td>
    <td>8096514530</td>
    <td>Korea</td>
  </tr>

  <tr>
    <td><img src="{{url_for('static', filename='akshay.jpg')}}" allign="middle"  height="100" width="150" alt="Akshay">
      <br>
      <p style="color:blue;">Akshay Sagar</p>
    <td>208P5A502</td>
    <td>8096514530</td>
    <td>Korea</td>
  </tr>

  <tr>
    <td><img src="{{url_for('static', filename='supriya.jpg')}}" allign="middle"  height="100" width="150" alt="Supriya">
      <br>
      <p style="color:blue;">Supriya</p>
    <td>208P5A506</td>
    <td>8096514530</td>
    <td>Korea</td>
  </tr>

  <tr>
    <td><img src="{{url_for('static', filename='ashish.jpg')}}" allign="middle"  height="100" width="150" alt="Ashish">
      <br>
      <p style="color:blue;">Ashish</p>
    <td>208P5A0501</td>
    <td>8096514530</td>
    <td>Korea</td>
  </tr>

  <tr>
    <td><img src="{{url_for('static', filename='varshitha.jpg')}}" allign="middle"  height="100" width="150" alt="Varshitha">
      <br>
      <p style="color:blue;">Varshitha</p>
    <td>208P5A0502</td>
    <td>8096514530</td>
    <td>Korea</td>
  </tr>

  <tr>
    <td><img src="{{url_for('static', filename='ansari.jpg')}}" allign="middle"  height="100" width="150" alt="Ansari">
      <br>
      <p style="color:blue;">Saad Ansari</p>
    <td>208P5A0505</td>
    <td>8096514530</td>
    <td>Korea</td>
  </tr>

  <tr>
    <td><img src="{{url_for('static', filename='.jpg')}}" allign="middle"  height="100" width="150" alt="unavailable">
      <br>
      <p style="color:blue;">Maheshwar</p>
    <td>188P1A0522</td>
    <td>8096514530</td>
    <td>Korea</td>
  </tr>

  <tr>
    <td><img src="{{url_for('static', filename='.jpg')}}" allign="middle"  height="100" width="150" alt="Unavailable">
      <br>
      <p style="color:blue;">Ajay</p>
    <td>188P1A0519</td>
    <td>8096514530</td>
    <td>Korea</td>
  </tr>

  <tr>
    <td><img src="{{url_for('static', filename='.jpg')}}" allign="middle"  height="100" width="150" alt="Unavailable">
      <br>
      <p style="color:blue;">Varshith</p>
    <td>198P1A0504</td>
    <td>8096514530</td>
    <td>Korea</td>
  </tr>

  <tr>
    <td><img src="{{url_for('static', filename='.jpg')}}" allign="middle"  height="100" width="150" alt="Unavailable" >
      <br>
      <p style="color:blue;">Seenu</p>
    <td>198P1A0508</td>
    <td>8096514530</td>
    <td>Korea</td>
  </tr>

  <tr>
    <td><img src="{{url_for('static', filename='.jpg')}}" allign="middle"  height="100" width="150" alt="Unavailable">
      <br>
      <p style="color:blue;">Mahesh Bhupathi</p>
    <td>198P1A0520</td>
    <td>8096514530</td>
    <td>Korea</td>
  </tr>

  
 
</table>

</body>
</html>

